

.loginpage-header
{
font-size: 4em;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
color: #f9f8dd;
}

.loginpage-description
{
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: 	#ffffff;
    font-weight: bold;
}

button
{
    font-size: 16px;
    font-weight: bold;
    background-color:#AA336A;
    width: auto;
    border-radius: 10px;
    color:white;
}

.image-center img
{
    border-radius: 30px;
}